.aboutMe--wrapper {
    padding: 3rem;
    margin: 4rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    
}

.aboutMe--blur {
    background-color: rgba(255,255,255, 0.4);
    backdrop-filter: blur(2px);
}

.aboutMe--blur-black {
    background-color: rgba(255, 255, 255, 0.03);
    backdrop-filter: blur(2px);
}

.git--logo {
    width: 10rem;
    height: 5rem;
    background-color: rgba(255,255,255, 0.8);
    padding: 0.5rem 0;
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    transition: transform 0.3s ease;

}

.git--logo:hover {
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}


.liks--wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    
}

.liks--wrapper > :first-child {
    grid-column: 1 / span 2;
    margin: auto;
}

.card {
    border: none !important;
    width: 18rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}


@media screen and (max-width: 865px) {
    .aboutMe--wrapper{
        flex-direction: column;
        gap: 0;
    }

    .liks--wrapper{
        margin-top: 5rem;
    }
}



@media screen and (max-width: 367px) {
    .liks--wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 310px) {
    .card {
        width: 15rem;
    }
}