.aboutMe--wrapper {
    padding: 3rem;
    margin: auto;
    margin-top:10rem;
    margin-bottom: 5rem;
    padding-bottom: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    max-width: 80rem;
    
}

.aboutMe--blur {
    background-color: transparent;
}

.aboutMe--blur-black {
    background-color: transparent;
}

.git--logo {
    width: 10rem;
    height: 5rem;
    background-color: rgb(255,255,255);
    padding: 0.5rem 0;
    border-radius: 6px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    transition: transform 0.3s ease;

}

.git--logo:hover {
    cursor: pointer;
    transform: scale(1.2);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}


.liks--wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    
}

.liks--wrapper > :first-child {
    grid-column: 1 / span 2;
    margin: auto;
}

.card {
    border: none !important;
    width: 18rem;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.info {
    font-size: 14px;
}


/* Custom CSS for the purple background */
.custom-dark-bg {
    background-color: rgb(29, 28, 28) !important;
    color: white !important; /* You may want to change the text color for better readability on a purple background */
  }

.container{
    max-width: 60rem !important;
}

table td {
    background-color: rgba(255,255,255,0.6) !important;
}
  
.legendOptions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}
.legendOptions li {
    padding: 0.5rem;
    border-radius: 8px;
}  

.beginner {
    background-color: #c5e384 !important; /* Light Moss Green */
}

.intermediate {
    background-color: #9cb874 !important; /* Olive Green */
}

.advanced {
    background-color: #5e7357 !important; /* Forest Green */
}

.expert {
    background-color: #bd8247 !important; /* Sienna Brown */

}




.footer--wrapper {
    text-align: center;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.footer--wrapper p {
    margin: 0;
    align-self: center;
    color: white;
}


@media screen and (max-width: 865px) {
    .aboutMe--wrapper{
        flex-direction: column;
        gap: 0;
    }

    .liks--wrapper{
        margin-top: 5rem;
    }
}

@media screen and (max-width: 547px) {
    .legendOptions{
        flex-direction: column;
        gap: 1rem;
    }
}

@media screen and (max-width: 367px) {
    .liks--wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

@media screen and (max-width: 310px) {
    .card {
        width: 15rem;
    }
}

